* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        border-bottom: 1px solid grey;
    }

    .headerLeft {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
        }
    }

    .headerRight {
        list-style-type: none;
        display: flex;

        li {
            margin-right: 30px;

            img {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

    .content {
        padding: 40px;

        .search-block {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            justify-content: space-between;
            padding: 10px;

            .search {
                border: 1px solid #f2f2f2;
                align-items: center;
                display: flex;
                border-radius: 10px;
                padding: 0 13px;

                input {
                    all: unset;
                    border: 0;
                    padding: 10px;
                    width: 200px;
                }
            }
        }


        h1 {
            margin: 0;
        }

        .cardBlock {
            display: flex;
            flex-wrap: wrap;
        }
    }
}


.overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;

    .drawer {
        overflow-x: hidden;
        position: absolute;
        width: 420px;
        background-color: #fff;
        right: 0;
        height: 100%;
        box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.4);
        padding: 0px 30px 0px 30px;
        display: flex;
        flex-direction: column;


        h3 {
            margin: 0;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
img{
    cursor: pointer;
}
        }
    }

    .meow {
        flex: 1;

        .cartItems {
            display: flex;
            align-items: center;
            border: 1px solid #f2f2f2;
            border-radius: 10px;
            padding: 0 20px;

            .cartItem {
                flex: 1;
                margin-right: 25px;
                width: 200px;
                display: flex;
                justify-content: space-between;
            }

            p {
                margin-bottom: 5px;
                font-size: 14px;
            }

            img {
                margin-right: 15px;
            }

            .remove {

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

    .items {
        align-items: flex-end;
        display: flex;

        .cartTotalBlock {
            flex: 1;

            button {
                width: 100%;
                background-color: #9DD458;
                border-radius: 18px;
                height: 55px;
                border: 0;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background: lighten($color: #9dd558, $amount: 5%);
                }

                &:active {
                    background: darken($color: #9dd558, $amount: 5%);
                }
            }

            div {
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                bottom: -4px;
                margin: 0 10px;
            }


            .items1 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            .items2 {
                display: flex;
                align-items: center;
                margin-bottom: 20px;


            }
        }
    }
}